.team{
    .container{
        display:flex
    };
    &.p1 .container{
        justify-content: flex-end;
        .icon{
            margin-left: 5px;
        }
    }
    &.p2 .container{
        justify-content: flex-start;
        .icon{
            margin-right: 5px;
        }
    }

    .icon{
        width: 25px;
        height: 25px;
        display: inline-block;
        background-size: contain;
        vertical-align: middle;
    }
}
