@import 'helpers';
@import 'char_icons';
@import 'header';

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500.css';
//              colour variabl  Light mode  Dark mode
.init-colours(  html-bg         lightgray   black,
                body-bg         white       #191a1b,
                table-border    #3a3e41     #3a3e41,
                table-header    #dddddd     #111111,
                table-row-even  #f3f3f3     #202123,
                text            black       #e7e6e3,
                link            blue        lightskyblue;
            );

@header-height: calc(4rem - 2px);

html {
    background-color: .colour(html-bg)[];
    color: .colour(text)[];
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
} 

body{
    margin:0;
    margin-top: @header-height;
}

//Remove default link styling
a{
    text-decoration: none;
    color:inherit;
}

.content {
    max-width: 80ch;
    padding: 2ch;
    margin: auto;
    line-height: 1;
    background-color: .colour(body-bg)[];
    text-align: center;
}

form {
    display: inline-block;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 50%;
}

fieldset {
    margin:0;
}

.pagination{
    width: 49.5%; //Looks better slightly smaller than the form
    margin-left:auto;
    margin-right:auto;
    font-size: 0.9em;
    font-weight: bold;
}

.step-links{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    > div {
        width: 90px;
    }
    > span {
        width: auto;
    }
    a {
        cursor: pointer;
        display: inline-block;
        padding: 0 0.5rem;
        font-size: 1.5rem;
        line-height: 0.5;
    }
}

.previous {
    text-align: left;
    a:first-child {
        padding-left: 0;
    }
}

.next {
    text-align: right;

    a:last-child {
        padding-right: 0;
    }
}

.errorlist {
    color: red;
}

label {
    width: 18ch;
    float: left;
    font-size: 12px;
    text-align: right;
    padding-right: 2ch;
    padding-top: 0.8ch;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 88ch;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 4px 15px;
    text-align: center;
    vertical-align: middle;
}

input, select{
    color: .colour(text)[];
}

input, select{
    background-color: .colour(body-bg)[];
    border: 1px solid .colour(text)[];
}

th {
    background-color: .colour(table-header)[];
    position:sticky;
    top:0;
    vertical-align: top;
}

.event th{
    top: 48px;
}

tbody tr {
    border-bottom: 1px solid .colour(table-border)[];;
}

tbody tr:nth-of-type(even) {
    background-color: .colour(table-row-even)[];
}

tbody tr:last-of-type {
    border-bottom: 2px solid .colour(table-header)[];
}


.content a.link {
    color: .colour(link)[];
    text-decoration: underline;
}

table tbody .event{
    background: .colour(table-header)[];
}

.header-team{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 25px 25px 25px;
        gap:5px;
    &.p1{
        justify-content: end;
    }
    &.p2{
        justify-content: start;
    }
    div{
        grid-column: span 3;
    }
}

.yt_button {
    background: url("ui_images/yt_button.png") no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    display: inline-block;
    width: 36px;
    height: 25px;
}

.yt_button:hover {
    background-position: 0 -25px;
}

.yt_button:active {
    background-position: 0 -50px;
}

.prevent-transitions{
    transition: none !important;
}

@media only screen and (max-width: 1680px) {
    th{
        top: @header-height ;
    }
    .event th{
        top: calc(@header-height + 48px);
    }
}