{% load static %}
{% include "viewer/head.html" %}
  <div class="content">
    <div style="text-align: left;">
    <p>slowtrainroll.in is a VOD database for Skullgirls Oceania, inspired by tunawithbacon.
    It serves as a stop-gap solution while TWB is undergoing a rewrite.</p> 

    <div>
      <p>It was created by 
      <img style="vertical-align:middle" src="{% static 'viewer/ui_images/icon_seajay.png' %}" height="28"></img>
      <a class="link" href="https://twitter.com/SeaJay4444">SeaJay</a>.</p>    
    </div> 

    <h3>Contact</h3>

    Email <a class="link" href="mailto: admin@slowtrainroll.in">admin@slowtrainroll.in</a>,
    or message me on Discord: SeaJay#4444

    <h3>Acknowledgements</h3>

    <ul>
    <li>Thanks to <a class="link" href="https://twitter.com/NoFunnyMoniker">No Funny Name</a> for
    many important contributions to the site.</li>

    <p><li>Thanks to <a class="link" href="https://twitter.com/seasportspro">Gelato</a> and 
    <a class="link" href="https://twitter.com/servan42">Servan</a> for their work on tunawithbacon.</li>

    <p><li>Last but not least, thanks to all the many cool and helpful people that 
    keep Skullgirls OCE running.</li></p>
    </ul>

    <h3>Skullgirls Oceania</h3>

    <div>
      <p><img style="vertical-align:middle" src="{% static 'viewer/ui_images/icon_discord.png' %}" height="24"></img>
      <a class="link" style="vertical-align:middle" href="https://discord.gg/WKG373f">Discord</a></p>
    </div>      

    <div>
      <p><img style="vertical-align:middle" src="{% static 'viewer/ui_images/icon_youtube.png' %}" height="24"></img>
      <a class="link" style="vertical-align:middle" href="https://www.youtube.com/c/SkullgirlsOceania">YouTube</a></p>
    </div>      

    <div>
      <p><img style="vertical-align:middle" src="{% static 'viewer/ui_images/icon_twitch.png' %}" height="24"></img>
      <a class="link" style="vertical-align:middle" href="https://www.twitch.tv/SkullgirlsOceania">Twitch</a></p>
    </div>      

    <div>
      <p><img style="vertical-align:middle" src="{% static 'viewer/ui_images/icon_twitter.png' %}" height="24"></img>
      <a class="link" style="vertical-align:middle" href="https://twitter.com/SkullgirlsOCE">Twitter</a></p>
    </div>  

    <h3>Other cool things</h3>

    <p><a class="link" href="https://wiki.gbl.gg/w/Skullgirls">Mizuumi Wiki</a></p>

    <p><a class="link" href="http://playskullgirls.com/">playskullgirls.com</a></p>
    </div>

    <hr>
    <p><a class="link" href="{% url 'viewer:index' %}">Back to the main page</a>
    </div>
  </body>
</html>