<!DOCTYPE html>

<html>
  <head>
    {% load compile_static %}
    {% load static %}
    {% load render_vod_row %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'viewer/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'viewer/favicon-16x16.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'viewer/style.less'|compile %}">
    <meta charset="utf-8">
    <title>slowtrainroll.in</title>
  </head>

  <body>
    {% include "modeswitch.html" %}
    <h1>🎷slowtrainroll.in</h1>
    <h4>Skullgirls OCE VOD archive</h4>
    <form action="{% url 'viewer:index' %}" method="get">
    <fieldset>
      <strong>Filter results</strong>
      {{ form.as_p }}
      <input type="submit" value="Search">
      {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
          <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
      {% endif %}
    </fieldset>
    </form>

    {% if vods %}
      <table>
        <tr>
          <th>Player 1</th>
          <th><div class="header-team p1"><div>P1 Team</div><span>3</span><span>2</span><span>1</span></div></th>
          <th><div class="header-team p2"><div>P2 Team</div><span>1</span><span>2</span><span>3</span></div></th>
          <th>Player 2</th>
          <th>VOD</th>
        </tr>
      {% for v in vods %}
        {% ifchanged v.event v.date %}
          {{ v.table_header_html | safe }}
        {% endifchanged %}
        {% render_vod_row v icon_dir %}
      {% endfor %}
      </table>
    {% else %}
      <p>😔 No results found. </p>
    {% endif %}
    
  </body>
</html>