<script>
function addUrlParameter(name, value) {
  var searchParams = new URLSearchParams(window.location.search)
  searchParams.set(name, value)
  window.location.search = searchParams.toString()
}
</script>

{% load render_vod_row %}
{% include "viewer/head.html" %}
<div class="content">
    <h1>Skullgirls OCE VOD archive</h1>
    <form action="{% url 'viewer:index' %}" method="get">
    <fieldset>
      <strong>Filter results</strong>
      {{ form.as_p }}
      <input type="submit" value="Search">
      {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
          <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
      {% endif %}
    </fieldset>
    </form>

    {% if page_obj %}
      <div class="pagination">
        <span class="step-links">
          <div class="previous">
            {% if page_obj.has_previous %}
              <a onclick="addUrlParameter('page', '1')">«</a>
              <a onclick="addUrlParameter('page', '{{ page_obj.previous_page_number }}')">‹</a>
            {% endif %}
          </div>

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>

          <div class="next">
            {% if page_obj.has_next %}
              <a onclick="addUrlParameter('page', '{{ page_obj.next_page_number }}')">›</a>
              <a onclick="addUrlParameter('page', '{{ page_obj.paginator.num_pages }}')">»</a>
            {% endif %}
          </div>
        </span>
      </div>
      <table>
        <tr>
          <th>Player 1</th>
          <th><div class="header-team p1"><div>P1 Team</div><span>3</span><span>2</span><span>1</span></div></th>
          <th><div class="header-team p2"><div>P2 Team</div><span>1</span><span>2</span><span>3</span></div></th>
          <th>Player 2</th>
          <th>VOD</th>
        </tr>
      {% for v in page_obj %}
        {% ifchanged v.event v.date %}
          {{ v.table_header_html | safe }}
        {% endifchanged %}
        {% render_vod_row v icon_dir %}
      {% endfor %}
      </table>
      <div class="pagination">
        <span class="step-links">
          <div class="previous">
            {% if page_obj.has_previous %}
              <a onclick="addUrlParameter('page', '1')">«</a>
              <a onclick="addUrlParameter('page', '{{ page_obj.previous_page_number }}')">‹</a>
            {% endif %}
          </div>

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>

          <div class="next">
            {% if page_obj.has_next %}
              <a onclick="addUrlParameter('page', '{{ page_obj.next_page_number }}')">›</a>
              <a onclick="addUrlParameter('page', '{{ page_obj.paginator.num_pages }}')">»</a>
            {% endif %}
          </div>
        </span>
      </div>
    {% else %}
      <p>😔 No results found. </p>
    {% endif %}

    <hr>
    </div>
  </body>
</html>